/* 반응형 웹을 만들 때 권장하는 단위
    %, em, rem, vh, vw
    (화면 크기에 따라 변하는 단위) */

/* 레이아웃 */
* {
    margin: 0 auto;
    padding: 0 auto;
}

header {
    background-color: #003911;
    height: 10vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
}

main {
    background-color: #d4e8d0;
    height: 90vh;
    /* 스크롤 되는 앱의 경우 main높이는 디폴트로 놔둬야함 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

legend {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 10%;
}

fieldset > div {
    margin: 5% 0 5% 0;
}

.msgDiv {
    display: inline-block;
    margin: 1vh;
}

#diceImg, #oxImg {
    display: block;
}

#oxImg {
    margin-top: 20%;
    margin-bottom: 20%;
}

input[type='radio'] + label {
    display: inline-block;
    width: 15vw;
    height: 10vh;
    border-radius: 20px;
    line-height: 10vh;
    text-align: center;
    font-size: 2rem;
    background-color: #003911;
    color: #fff;
}

/* 라디오 버튼 동그라미 숨기기 */
[type="radio"] {
    display: none;
}

/* 라디오버튼에 마우스 올렸을 때
    그리고 선택된 상태에서 스타일 변경 */
input[type='radio']:hover + label,
input[type='radio']:checked + label {
    background-color: #a8d473;
    color: #003911;
}

button {
    display: inline-block;
    margin: 3% auto;
    width: 50vw;
    max-width: 300px;
    height: 20vh;
    max-height: 100px;
    border: none;
    border-radius: 35px;
    font-size: 1.5rem;
}

#bt1 {
    background-color: #a8d473;
}

#bt2 {
    background-color: #c3f18c;
}

#bt1:hover, #bt1:active, #bt2:hover, #bt2:active {
    background-color: #0f2000;
    color: #c3f18c;
}

@media only screen and (max-width:200px) and (max-height:50px) {
    button {
        flex-direction: column;
        height: auto;
    }
}